body, html {
    
    height: 100%; 
    color: white;
    background-color: black;
    background-repeat: repeat-y;
    background-image: url('/resources/images/background.jpg');
}

body h1, body h3 {
    
    margin-left: 15px;
    color: white;
}

button {
    
    cursor: pointer;
}

header {
    
    margin-bottom: 15px;
}

.container-fluid {
    
    margin-top: 20px;
    margin-bottom: 50px;
    color: black;
}

.list-group-item {
    
    min-width: 200px;
    cursor: pointer;
}

.list-group-item:hover {
    
    color: white;
    background-color: #007bffe5;
}

.table-striped tbody tr {
    
    border: 1px solid #ffffff00;
}

.table-striped tbody tr:hover {
    
    border: 1px solid #e9ecef;
    background-color: #868e968c;
}

.tool-button:hover {
    
    text-decoration: none;
}

.tool-button img {
    
    background-color: #f2f2f2;
    border: 1px darkgray outset;
}

.badge-info {
    
    min-width: 100px;
    padding: 13px;
}

.footer {
    
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 0;
    background-color: black;
    color: #b5b5b5;
}