<!DOCTYPE html>
<html lang="en" ng-app="AvenueCodeApp">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AvenueCode-Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="/resources/js/appdata.service.js"></script>
    <script src="/resources/js/app.js"></script>
</head>

<body>
    
    <header id="home">
        <h1 class="display-4">
            <img src="/resources/images/logo-avenuecode-demo.png" width="48" height="48">
            Welcome to AvenueCode - <span class="badge badge-secondary">DEMO</span>
        </h1>
        <h3>
            &#9654; Please select one API to use
        </h3>
    </header>

    <div class="container-fluid" ng-controller="AvenueCodeCtrl as ctrl">
        

        <div class="row">
            <div class="col-md-auto">
                <ul class="list-group">
                    <li title="Click to select the Products API" ng-click="ctrl.select('products')" ng-class="{ 'list-group-item active': ctrl.selected === 'products', 'list-group-item': ctrl.selected !== 'products' }">
                        Products
                    </li>
                    <li title="Click to select the Images API" ng-click="ctrl.select('images')" ng-class="{ 'list-group-item active': ctrl.selected === 'images', 'list-group-item': ctrl.selected !== 'images' }">
                        Images
                    </li>
                </ul>
            </div>
            <div class="col-sm">
                <div ng-if="ctrl.selected === 'products'">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-auto">
                                    <span class="badge badge-info">Products</span>
                                </div>
                                <div class="col-sm">
                                    <button type="button" title="Click to add a new product" ng-if="!ctrl.createMode && !ctrl.editMode" class="btn btn-success" ng-click="ctrl.addProduct()">Add</button>
                                    <button type="button" title="Click to save changes" ng-if="ctrl.createMode || ctrl.editMode" class="btn btn-success" ng-click="ctrl.saveProduct()">Save</button>
                                    <button type="button" title="Click to abandon changes" ng-if="ctrl.createMode || ctrl.editMode" class="btn btn-secondary" ng-click="ctrl.cancelProduct()">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">&#10144; List of stored products</h5>
                            <table class="table table-sm table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col" width="100px">&nbsp;</th>
                                        <th scope="col">ID</th>
                                        <th scope="col">NAME</th>
                                        <th scope="col">DESCRIPTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="product in ctrl.allProducts track by $index">
                                        <th scope="row">
                                            <a class="tool-button" title="Click to edit this product" href="#" ng-if="!ctrl.createMode && !ctrl.editMode && product.id !== null" ng-click="ctrl.editProduct(product)">
                                                <img src="/resources/images/edit.png">
                                            </a>
                                            <a class="tool-button" title="Click to remove this product" href="#" ng-if="!ctrl.createMode&& !ctrl.editMode && product.id !== null" ng-click="ctrl.removeProduct(product)">
                                                <img src="/resources/images/trash.png">
                                            </a>
                                        </th>
                                        <td>
                                            <span ng-if="(!ctrl.createMode && !ctrl.editMode) || (product.id !== null)">{{ product.id }}</span>
                                        </td>
                                            <td>
                                                <span ng-if="(!ctrl.createMode && !ctrl.editMode) || (product.id !== null && product.id !== newProduct.id)">{{ product.name }}</span>
                                                <input type="text" placeholder="Product name *required*" ng-if="(ctrl.createMode || ctrl.editMode ) && (product.id === null || product.id === newProduct.id)" ng-model="newProduct.name">
                                            </td>
                                            <td>
                                                <span ng-if="(!ctrl.createMode && !ctrl.editMode) || (product.id !== null && product.id !== newProduct.id)">{{ product.description }}</span>
                                                <input type="text" placeholder="Product description" ng-if="(ctrl.createMode || ctrl.editMode ) && (product.id === null || product.id === newProduct.id)" ng-model="newProduct.description">
                                            </td>
                                    </tr>
                                </tbody>
                                <tfoot id="createProduct">
                                    <div class="alert alert-success" ng-if="ctrl.successMessage">{{ ctrl.successMessage }}</div>
                                    <div class="alert alert-danger" ng-if="ctrl.errorMessage">{{ ctrl.errorMessage }}</div>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

                <div ng-if="ctrl.selected === 'images'">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-auto">
                                    <span class="badge badge-info">Images</span>
                                </div>
                                <div class="col-sm">
                                    <button type="button" title="Click to add a new product" ng-if="!ctrl.createMode && !ctrl.editMode" class="btn btn-success" ng-click="ctrl.addImage()">Add</button>
                                    <button type="button" title="Click to save changes" ng-if="ctrl.createMode || ctrl.editMode" class="btn btn-success" ng-click="ctrl.saveImage()">Save</button>
                                    <button type="button" title="Click to abandon changes" ng-if="ctrl.createMode || ctrl.editMode" class="btn btn-secondary" ng-click="ctrl.cancelImage()">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">&#10144; List of stored images</h5>
                            <table class="table table-sm table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col" width="100px">&nbsp;</th>
                                        <th scope="col">ID</th>
                                        <th scope="col">TYPE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="image in ctrl.allImages track by $index">
                                        <th scope="row">
                                            <a class="tool-button" title="Click to edit this image" href="#" ng-if="!ctrl.createMode && !ctrl.editMode && image.id !== null" ng-click="ctrl.editImage(image)">
                                                <img src="/resources/images/edit.png">
                                            </a>
                                            <a class="tool-button" title="Click to delete this image" href="#" ng-if="!ctrl.createMode&& !ctrl.editMode && image.id !== null" ng-click="ctrl.removeImage(image)">
                                                <img src="/resources/images/trash.png">
                                            </a>
                                        </th>
                                        <td>
                                            <span ng-if="(!ctrl.createMode && !ctrl.editMode) || (image.id !== null)">{{ image.id }}</span>
                                        </td>
                                        <td>
                                            <span ng-if="(!ctrl.createMode && !ctrl.editMode) || (image.id !== null && image.id !== newImage.id)">{{ image.type }}</span>
                                            <input type="text" placeholder="Image type *required*" ng-if="(ctrl.createMode || ctrl.editMode ) && (image.id === null || image.id === newImage.id)" ng-model="newImage.type">
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot id="createImage">
                                    <div class="alert alert-success" ng-if="ctrl.successMessage">{{ ctrl.successMessage }}</div>
                                    <div class="alert alert-danger" ng-if="ctrl.errorMessage">{{ ctrl.errorMessage }}</div>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <footer class="footer">
        <div class="container-fluid">
            <span class="text-muted">Copyright Hugo Saporetti Junior</span>
        </div>
    </footer>

</body>

</html>